* {
  font-family: 'Operator Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}

#ognwrapper {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}
